:root{
    --cor-primaria: #F2E7DC;
    --cor-secundaria: #038C7F;
    --cor-terciaria: #027373;
    --cor-quarternaria: #A9D9D0;
    --cor--quinaria: #0D0D0D;



}

/* Base Styles */
body {
    background-color: var(--cor-primaria);
    font-family: Arial, sans-serif;
    margin: 0; /* Ensures no default margin from the browser */
    padding: 0; /* Ensures no default padding from the browser */
}

@media (max-width: 1200px) {
 body{
    width: 90%;
 }

}